@using ClientApp.Model
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager navManager
@inherits LayoutComponentBase

<div class="page">
    
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            @if (loggedIn != null)
            {
                <div style="font-weight: bold">@LoggedInText</div>
                <scan><i class="bi bi-box-arrow-right fs-4" @onclick="Logout" ></i></scan>
            }
            else
            {
                <i class="bi bi-box-arrow-in-right fs-4" @onclick="Login"></i>
            }
        </div>  

        <article class="content px-4">
            @Body
        </article>
    </main>
    
    
</div>
@code
{
    User? loggedIn;

    private string LoggedInText => $"Logged in: {loggedIn.Name} [{loggedIn.Role}]";

    protected override async Task OnInitializedAsync()
    {
        loggedIn = await localStorage.GetItemAsync<User?>("user");
    }

    private void Login()
    {
        navManager.NavigateTo("login", true);
    }

    private async Task Logout()
    {
        await localStorage.RemoveItemAsync("user");
        navManager.NavigateTo("/", true);
    }
}
