.images-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 kolonner */
    gap: 1rem; /* afstand mellem emnerne */
}

.image-item {
    padding: 0.5rem 1rem;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    background-color: #c6c7c8;
}