@page "/productlist"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager navManager
@using ClientApp.Model
<h1 class="mb-3 mt-3">Product list</h1>


<table class="table">
    <thead>
    <tr>
        <th>Navn</th>
        <th>Pris</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var p in products)
    {
        @if (p.Price <= 10000 || (loggedIn != null && loggedIn.Role.Equals("admin")))
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.Price</td>
            </tr>
        }
    }
    </tbody>
</table>
@if (loggedIn != null && loggedIn.Role.Equals("admin", StringComparison.CurrentCultureIgnoreCase))
{
    <button class="btn btn-primary" @onclick="GoToAddProduct">New Product</button>
}

@code {

    private List<Product> products = new();

    User? loggedIn;
    
    protected override async Task OnInitializedAsync()
    {
        var p = await localStorage.GetItemAsync<List<Product>>("products");
        if (p == null)
            products = new();
        else
        {
            products = p;
        }
        loggedIn = await localStorage.GetItemAsync<User?>("user");
        if (loggedIn == null)
            navManager.NavigateTo("/");
    }

    private void GoToAddProduct()
    {
        navManager.NavigateTo("addproduct");
    }

}


